<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" />
</head>
<body>
    <h1>Laya Salarbehzadi's ASP.NET MVC Web Site in Windows Azure</h1>

    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>

            <li>
                @Html.ActionLink("Form/Layout Demo", "")
            <ul>
                <li>@Html.ActionLink("Web Form", "WebForm")</li>

                <li>
                    @Html.ActionLink("Layout Demo", "")
                <ul>
                    <li>@Html.ActionLink("Absolute Layout", "AbsoluteLayout")</li>
                    <li>@Html.ActionLink("Static Layout", "StaticLayout")</li>
                    <li>@Html.ActionLink("Float Layout", "FloatLayout")</li>
                </ul>
            </li>
        </ul>
    </li>

    <li>@Html.ActionLink("ServerSide Demo", "Task3")</li>
    <li>@Html.ActionLink("ClientSide Demo", "Task4")</li>
    <li>@Html.ActionLink("Resume", "AboutMe")</li>
</nav>
<br />
<div>
    @RenderBody()
</div>
<footer>
    <p> Laya Salarbehzadi &copy;</p>
    <address>
        <p><a href="mailto:layasb@yahoo.com">Email: layasb@yahoo.com</a></p>
        <p>Phone: (310)800-4369</p>
    </address>
</footer>
</body>

</html>
