<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)


</head>
<body>
    <h1> </h1>
    <ul>
        <li>@Html.ActionLink("Home", "Index")</li>
        <li>@Html.ActionLink("Web Form Demo", "WebForm")</li>
        <li>@Html.ActionLink("About Me", "AboutMe")</li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
