<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" />
</head>
<body>
    <h1>Salarbehzadi, Laya Homework 7</h1>
    <hr />
    <nav>
        <ul>
            <li class="links">@Html.ActionLink("Home", "Index")</li>
            <li class="links">@Html.ActionLink("Web Form Demo", "WebForm")</li>
            <li class="links">@Html.ActionLink("About Me", "AboutMe")</liclass>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
