@model string

@{
    ViewBag.Title = "WebForm";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebForm</title>
</head>
<body>
    <header></header>
    <h2>Welcome to my Web Form</h2>
    <h3>A demo form for hotel room reservation</h3>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Customer Information</legend>
            <br />
            @Html.Label("name", "Full name: ") @Html.TextBox("name", "", new { @id = "info_name", @placeholder = "FirstName LastName", @required = "required" })
            <br />
            @Html.Label("email", "Email : ") @Html.TextBox("email", "", new { @type = "email", @id = "info_email", @required = "required" })
            <br />
            @Html.Label("phone", "Phone: ") @Html.TextBox("phone", "", new { @type = "tel", @id = "info_phone", @required = "required" })
            <br />
        </fieldset>

        <fieldset>
            <legend>Room Information</legend>
            @Html.Label("arivaldate", "Arrival date: ")
            @Html.TextBox("arivaldate", "", new { @type = "date", @id = "arival_date", @required = "required" })
            <br />
            @Html.Label("arivaltime", "Arrival time: ")
            @Html.TextBox("arivaltime", "", new { @type = "time", @id = "arival_time", @required = "required" })
            <br />
            @Html.Label("roomType", "Select a room type: ")
            @Html.DropDownList("roomType", new List<SelectListItem>
        {
        new SelectListItem { Text = "Standard", Value = "standard",},
        new SelectListItem { Text = "Economic", Value = "economic",},
        new SelectListItem { Text = "Luxury", Value = "luxury", Selected = true}
        }, "Select Room Type")
            <br />
            @Html.Label("numberNights", "Number of nights: ")
            @Html.TextBox("numberNights", "", new { @type = "number", @min = "1", @max = "30", @step = "1", @value = "1", @required = "required" })
            <br />
            @Html.Label("numberGuests", "Number of guests: ")
            @Html.TextBox("numberGuests", "", new { @type = "number", @min = "1", @max = "3", @step = "1", @value = "0", @required = "required" })

        </fieldset>
        <fieldset>
            <legend>Other Information</legend>
            @Html.Label("promo", "Promo Code: ")
            @Html.TextBox("promo", "", new { @type = "text", pattern = "[A-Za-z0-9]{4}", @title = "No special characters!!!", @id = "prom-code", @maxlength = "4" })
            <br />
            @Html.Label("comment", "Special Note: ")
            @Html.TextArea("comment", "", new { @type = "text", @cols = "40", @rows = "4", @placeholder = "Enter your special notes here" })

        </fieldset>
    }
    <div class="bottom">

        <input type="reset" name="reset" value="Clear Form" />
        <input type="submit" name="submit" value="Request Reservation" />
    </div>
    <br />
</body>
</html>
